// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3; // to always be on top
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    // rotate into X with menu lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // line 1 - rotate 
            &:nth-child(1) {// this get the first element with .btn-line
                transform: rotate(45deg) translate(5px, 5px);
            }

            // line 2 - hide
            &:nth-child(2) {// this get the first element with .btn-line
                opacity: 0;
            }
            // line 3 - rotate
            &:nth-child(3) {// this get the first element with .btn-line
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}