@import 'config'; //import other scss files
@import 'menu';

* { // * means everything
    box-sizing: border-box; //turns evreything to a box so that when you change padding it doesnt mess with margins

}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading { // the & sign is the same as saying h1. or h2. or h3. and it will only apply to these 3 headings, if we wanted to apply this to anything inside them we wouldnt use &
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5); // lightens the primary color, rgba is used to be able to see through it with 0.5 opacity
    }
}

a {
    color: #Fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; // how close the element is to you 
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px); // this allows footer to stay at bottom

    .icons { // this will only effect elements with "icons" class inside main
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover { // same as a:hover
                color: $secondary-color;
                @include easeOut(); // to use the function
            }
        }
    }

    &#home {
        overflow: hidden; // no scroll bars
        h1 {
            margin-top: 20vh; // vh is like % of page so 50vh is like half the page. vw is for horizontal
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); // repeat 1fr three times ( same as saying 1fr 1fr 1fr )
    
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}


@import 'mobile';